<div class="page-header">
  <h3>Action Step #<%= @action_step.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @action_step.description %></dd>

      <dt>Specifics of implementation</dt>
      <dd><%= @action_step.specifics_of_implementation %></dd>

      <dt>Resource</dt>
      <dd>
        <% if @action_step.resource.present? %>
          <a href="/resource_neededs/<%= @action_step.resource_id %>">
            <%= @action_step.resource.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Measure</dt>
      <dd>
        <% if @action_step.measure.present? %>
          <a href="/measures_of_successes/<%= @action_step.measure_id %>">
            <%= @action_step.measure.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/action_steps" class="btn btn-primary">
        Back
      </a>
      <a href="/action_steps/<%= @action_step.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_action_step/<%= @action_step.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Action step has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @action_step.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        
      </li>
    </ul>
  </div>
</div>
